html {
    height: 100vh;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

canvas {
    max-width: 100%;
}

.normal {
    background-image: url(fotoorginal1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: background-image 0.5s ease, color 0.5s ease;
    background-position: center;
    background-size: cover;
}


.oscuro {
    background-image: url(oscuro.png);
    background-repeat: no-repeat;
    transition: background-image 0.5s ease, color 0.5s ease;
    background-position: center;
    background-size: cover;

}

.claro {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    max-width: 100vw;
    height: 100px;
    background-color: #6C966D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.logo img {
    height: 123px;
}

.titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #F9F7DA;
    font-size: 3.5vh;

}

.frase {
    color: #116433;
    font-size: larger;
    font-weight: bold;
}

/*.boton .material-icons {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    color: #F9F7DA;
}*/

.dark {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    max-width: 100vw;
    height: 100px;
    background-color: #373A39;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s ease, color 0.5s ease;

}

.footero {
    background-color: #373A39;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.5s ease, color 0.5s ease;
}

#inicio {
    height: 100%;
    width: 100%;
}

footer {

    font-weight: bold;
    color: #F9F7DA;
    height: 9%;
    width: 100%;
    background-color: #6C966D;
}


#cardsContainer {
    display: flex;
    justify-content: center;
    /* centro horizontal */
    align-items: center;
    /* centro vertical */
    height: 100%;
    /* ocupa todo el espacio disponible */
}

.card {
    font-size: large;
    font-weight: bold;
    background-color: #87BF82;
}

.btnClaro {
    font-weight: bold;
    background-color: #F9F7DA;
}

.btnOscuro {
    font-weight: bold;
    border-color: #373A39;
    color: #F9F7DA;
    background-color: #373A39;
}

/* Modo claro */
.cardsClaro {
    background-color: #87BF82;
    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Modo oscuro */
.cardsOscuro {
    background-color: #373A39;
    color: #F9F7DA;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*button {
    border: 2px solid #87BF82;

    border-radius: 50%;
    border-color: #87BF82;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    font-weight: bold;
    transform: scale(1.15);
}*/